@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff7f7;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: #242424;
}
.head-img {
  align-self: center;
}
.logo {
  padding: 10px 0;
  height: 70px;
  will-change: filter;
  transition: filter 300ms;
  border-radius: circle;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 1em 2em #646cffaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.view-buttons {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #242424;
}
button img {
  width: 32px;
}
.active {
  background-color: rgb(5, 5, 250);
  color: white;
}
.view-buttons button:nth-child(1) {
  border-radius: 8px 0 0 8px;
}
.view-buttons button:nth-child(2) {
  border-radius: 0 8px 8px 0;
}
.leaflet-container {
  width: 100%;
  height: 90vh;
}
.leaflet-popup-content-wrapper {
  display: flex;
}
.popup span {
  cursor: pointer;
}
.detail {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  top: 4%;
  left: 10px;
  display: flex;
  align-items: center;
}
.detail-inner {
  background-color: #ffff;
  color: #242424;
  height: 88%;
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.detail-head img {
  cursor: pointer;
}
.detail-head img:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow: 2px 2px 5px red;
}
.loading {
  display: block;
}
.plane-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  height: 200px;
}
.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-btn {
  padding: 2px 5px;
  align-items: flex-end;
  background-color: #242424;
  color: #f9f9f9;
  border-radius: 8px;
  font-weight: 400;
}
.paginate {
  display: flex;
  align-self: center;
  gap: 20px;
}
.paginate li {
  list-style: none;
}
.selected {
  color: white;
}
.selected a {
  background-color: #303030;
  padding: 4px 6px;
  border-radius: 8px;
}